#epub {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 44px;
}
#actions-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 16px 8px 16px;
}
#actions {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
#status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 8px 16px 0px 16px;
  p {
    font-size: 0.75em;
  }
}
